<!-- Este es el documento HTML principal de la aplicación, aquí usamos todos los componentes que hemos creado -->

<h1> {{ title }} </h1>
<hr>

<!--
  Así usamos el componente 'counter'
  Por defecto el selector es 'app-counter', pero podemos cambiarlo en su respectiva hoja de TypeScript,
  Arriba del todo en el decorador @Component, cambiamos el selector: 'app-counter' a como queramos llamarlo.
-->
<app-counter></app-counter>

<app-heroes-hero></app-heroes-hero>

<app-heroes-list></app-heroes-list>
